# Data Types and Structures

1. What are data structues and why are they important?
    - Data structures are a way of organizing and storing data so that it can be accessed and manipulated efficiently. Data stuctures are important as they make the code efficient and easier to understand.

2. Explain the difference between mutable and immutable data types with examples?
    - Mutable data types are those data types whose state or value can be changed after they are created while immutable data types are those data types whose state or value cannot be changed after they are created. Examples of mutable data type are list,sets and dictionaries. Example of immutable data type are strings and tuples.

3. What are the main differences between lists and tuples in Python?
    - Lists and tuples are both ordered collection of items in Python,but they differ in mutability. Lists are mutable which means that their state or value can be changed after creation, while tuples are immutable and cannot be changed or modified after the creation. Lists are defined using square bracket[], while tuple is defined using parentheses().

4. Describe how dictionary stores data?
    - Dictionary is a data structure that stores data as key value pair. In dictionary keys are unique and immutable.

5. Why might you use a set instead of a list in Python?
    - In Python both sets are lists are used to store collection of elements but they differ from each other that makes them suitable for different use cases. In lists the order of elements are preserved and can be accessed using their index while sets are unoredered and do not maintain the order of elements and ensures that all elements are unique.

6. what is a string in python and how is it different from a list?
    - String is a sequence of character which represents and manipulate textual data. Strings are immutable and are defined using single or double quotes. A List on the other hand is an ordered and mutable sequence of items and can store different data types.

7. How do tuples ensure integrity in Python?
    - Tuples are immutable which means that their contents cannot be modified after creation. This ensures that once a tuple is created its data remains consistent and cannot be accidently or intentionally altered. As tuples are immutable they are suitable for use in environment where data integrity is crucial.

8. What is a hash table, and how does it relate to dictionaries in python?
    - Hash table is a data structure that stores key value pairs in a dictionary where each key is unique and maps to a specific value.

9. Can list contain different data types in Python?
     - Yes, list can contain different data types in Python.

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python which means that their contents cannot be changed after they are created. Benefits of immutability include security, safety and hashability.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries and lists are both useful data structures in Python and serve different purposes.The advantages of dictionaries over lists are that dictionaries have faster lookup time than lists especially for larger datasets. Dictionaries provide more efficient way to retrieve data.

12. Describe a scenario where using a tuple would be preferable over a list?
     - Tuple would be preferable over a list in a scenario where we dont have to change or modify the elements of data as tuples are immutable and remain consistent. e.g we have to represent the days of the week in a code.There are always 7 days in a week, making a tuple suitable choice.

13. How do sets handle duplicate values in Python?
    - Sets only store unique elements which means that duplicates are automatically removed.

14. How does the 'in' keyword work differently for lists and dictionaries?
    - For lists, 'in' keyword checks if a value is present in a list. For dictionaries, 'in' keyword checks if a key is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, we cannot modify the elements of a tuple. Tuples are immutable meaning that their elements cannot be modified after creation. If we try to modify a tuple element we will encounter a error

16. What is a nested dictionary, and give an example of its use case?
    - Nested dictionary is a dictionary that contains another dictionary as its value.
    e.g Client = {'name':'Sara','age': 30, 'address'{'street': '45 main street', 'city': 'banglore'}}

17. Describe the time complexity of accessing elements in a dictionary?
    - The time complexity of accessing elements in a dictionary is known as hash table or map. O(1) is the time complexity of a dictionary, meaning it takes constant time regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries in situations like a numerical computations where we need to perform complex mathematical operations. Lists are suitable for data with frequent insertion or deletion of data or small datasets.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries were implemented as hash tables, which dont inherently maintain order. The iteration order of dictionaries was arbitrary and could change between runs.
   This could affect data retrieval as we couldnt rely on the order of elements when iterating over a dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
    - Lists are indexed which means that we can access elements by their position while dictionaries are accessed by keys, which can be strings, integers etc.

In [1]:
# 1. Write a code to create a string with your name and print it

name ="Deeba"
print(name)

Deeba

In [2]:
# 2. write a code to find the length of the string "Hello world".
word = "Hello world"
print(len(word))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

word1 ="Python Programming"
print(word1[0:3])

Pyt

In [6]:
# 4. Write a code to convert string "hello" to uppercase

word2 ="hello"
print(word2.upper())

HELLO

In [10]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

sentence = "I like apple"
print(sentence.replace("apple","orange"))

I like orange

In [60]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

list0 = [1,2,3,4,5]
print(list0)

[1, 2, 3, 4, 5]

In [12]:
# 7. Write a code to append the number 10 to the list[1,2,3,4]

list1 =[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [13]:
# 8. Write a code to remove the number 3 from the list [1,2,3,4,5]

list2 = [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a','b','c','d']

list3 = ['a','b','c','d']
list3[1]

'b'

In [16]:
# 10. Write a code to reverse the list [10,20,30,40,50]

list4 = [10,20,30,40,50]
list4[::-1]

[50, 40, 30, 20, 10]

In [61]:
#11. Write a code to create a tuple with the elements 100,200,300 and print it

tuple0 =(100,200,300)
print(tuple0)

(100, 200, 300)

In [19]:
# 12. Write a code to access the second to last element of the tuple ("red","green"blue"yellow")

tuple1 = ("red","green","blue","yellow")
tuple1[-2]

'blue'

In [20]:
# 13. Write a code to find the minimum number in the tuple (10,20,5,15)

tuple2 = (10,20,5,15)
min(tuple2)

5

In [21]:
# 14. Write a code to find the index of the element "cat" in the tuple('dog,'cat','rabbit')

animals = ('dog','cat','rabbit')
animals.index('cat')

1

In [25]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ('apple','banana','kiwi')
'kiwi' in fruits

True

In [64]:
# 16. Write a code to create a set with elements "a","b","c" and print it

nursery = {'a','b','c'}
print(nursery)

{'c', 'b', 'a'}

In [24]:
# 17. Write a code to clear all elements from the set {1,2,3,4,5}

set1 = {1,2,3,4,5}
set1.clear()
print(set1)

set()

In [26]:
# 18. write a code to remove the element 4 from the set{1,2,3,4}

set2 ={1,2,3,4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [29]:
# 19. Write a code to write a union of two sets{1,2,3} and {3,4,5}

set3 = {1,2,3}
set4 = {3,4,5}
set3|(set4)

{1, 2, 3, 4, 5}

In [32]:
# 20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

set5 = {1,2,3}
set6 = {2,3,4}
set5 & set6

{2, 3}

In [33]:
# 21. Write a code to create a dictionary withe the keys "name" "age" and "city"

student = {"Name": "Maryam", "Age" : 13 ,"City" : "Liverpool"}
print(student)

{'Name': 'Maryam', 'Age': 13, 'City': 'Liverpool'}

In [34]:
# 22. Write a code to add a new key-value pair "country" : USA to the dictionary{"name: "John,"Age":25}

membership_club = {"Name": "John","Age":25}
membership_club["Country"] = "USA"
print(membership_club)

{'Name': 'John', 'Age': 25, 'Country': 'USA'}

In [35]:
# 23. Write a code to access the value associated with the key "name" in the dictionary

salon_club = {"Name": "Ramsha","Age":45}
salon_club["Name"]

'Ramsha'

In [37]:
# 24. Write a code to remove the key "age" from a dictionary {"name: "Alice", "Age" : 30}

Teachers = {"Name": "Alice", "Age" : 30}
Teachers.pop("Age")
print(Teachers)

{'Name': 'Alice'}

In [38]:
# 25. Write a code to check if the key "city" exists in the dictionary{"name":"Alice", "city":"New York"}

Dictionary = {"Name":"Alice", "City":"New York"}
"City" in Dictionary

True

In [39]:
# 26. write a code to create a list, a tuple, and a dictionary and print them all?

List_1 = [1,2,3,4,5,6]
tuple_1 = (102,102,109,110)
Dictionary_1 = {"Name": "Maryam", "Age" : 13 ,"City" : "Liverpool"}
print(List_1)
print(tuple_1)
print(Dictionary_1)

[1, 2, 3, 4, 5, 6]
(102, 102, 109, 110)
{'Name': 'Maryam', 'Age': 13, 'City': 'Liverpool'}

In [40]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in an ascending order and print the result

List_random = [80,66,93,22,6]
List_random.sort()
print(List_random)

[6, 22, 66, 80, 93]

In [42]:
# 28. Write a code to create a list with strings and print the element of the third index

string = ["i will be right back", "i miss you"," call me soon","whats up"]
print(string[3])

whats up

In [43]:
# 29. Write a code to combine Two dictionaries into one and print the result.

dict1 = {"a":1, "b":2}
dict2 = {"c":3, "d":4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [73]:
# 30. Write a code to convert a list of string into a set

Alphabets = ["a","b","c","d","e"]